/* cores */
/* cor 1 EADEDA */
/* COR  2 998888 */
/* COR 3 BFB8AD */
/* COR 4 823329 */
/* COR 5 8A3033 */
#css-web-garden {
    background-color: #BFB8AD;
    color: rgb(51, 51, 51);
    
}

#container {

}

.page-wrapper {

}

.intro {
    text-align: center;
    justify-content: center;
}

#jar-intro {

}

#jar-header {

}

.header {
    background-color: #BFB8AD;
    text-align: center;
    justify-content: center;
    height: 100px;
    box-shadow: 4px 2px 200px 20px black;
    border-radius: 40px;
    width: 600px;
}

.summary {

}

#jar-summary {

}

.p1 {

}

.p2 {

}

.preamble {

}

#jar-preamble {

}

.p3 {

}

.main {

}

.supporting {

}

#jar-supporting {

}

.explanation {

}

#jar-explanation {

}

.participation {

}

#jar-participation {

}

.benefits {

}

#jar-benefits {

}

.requirements {

}

#jar-requirements {

}

.p4 {

}

.footer {

}

#jar-footer {

}

.jar-validate-html {

}

.jar-validate-html {

}

.jar-validate-css {
    
}

.jar-licente {

}

.jar-acessibility {

}

.sidebar{

}

#jar-link-list {

}

.wrapper {

}

.design-selection {

}

#jar-seleciton {

}

.select {

}

.design-name {

}

.designer-name {

}

.design-archives {

}

#jar-archives {

}

.archives {

}

.next {

}

.indicator {

}

.viewall {

}

.design-resources {

}

#jar-resources {

}

.resources {

}

.view-css {

}

.css-resources {

}

.jar-submit {

}

.extraDiv1 {

}
.extraDiv2 {
    
}
.extraDiv3 {
    
}
.extraDiv4 {
    
}
.extraDiv5 {
    
}
.extraDiv6 {
    
}
